* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

main{
  width: 80%;
  padding: 20px ;
  margin: auto;
  color: #cedeff;
}

h1 {
  color: #fcfdfe;
  font-size: 48px;
}

h2{
  border-right: 5px solid #333; /* Adjust the color and width of the line as needed */
  height:50px;
}

header {
  background-color: #cedeff;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
} 

.hero-banner{
  width: 100%;
  text-align: right;
  height: 200px;
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  color: #166bb0;
}


nav ul {
  margin: 0;
  padding: 0;
}

nav li  {
  display: inline;
  margin-right:10px;
  text-decoration: underline;
  color: #cedeff;
  font-size:x-large;
}

nav li:last-child {
  margin-right: 0;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;

}

.page-wrapper::after{
  content: "";
  clear: both;
  display: table;
}

.page-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: #166bb0;
  padding: 10px;
}


.page-section h2 {
  margin: 0;
  width: 20%;
  float: left;
}

.page-section h2+p {
  margin: 0;
  width: 75%;
  float: right;
}

.page-section p{
  display: flex;
  flex-flow: row wrap;
}

.page-section p a img{
  width: 300px;
}